html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 800px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

h1 {
  text-align: center;
}

#instructions{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(26, 15, 141);
}

#twitter, #github, #facebook, #insta, #itch{
  /*margin : auto;*/
  align-content: center;
  position: relative;
  align-self: center;
  right: -100px;
}

.linkContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: 100px 50px;
  grid-gap: 10px;
  background-color: rgb(32, 178, 170);
  padding: 10px;
}
.copyright{
  margin: auto;
  text-align: end;
}

address{
  position: relative;
  bottom:20px;
}